<html><head>
    <h1 style="text-align: center">Sample Receipt</h1>
<body>
    
<img class="fit-picture"
    src ="/static/images/sample_cisco.png" alt= "Receipt image" width="750" height="520" style="position: relative; margin-left: 380px;" /> 


<h5><b>
    <a href ="/trynow" style="margin-left: 750px">Try out</a></b></h5>
</body>
</head>
</html>

<!-- <html>
<body>

<h2>HTML Image</h2>
<img src="https://drive.google.com/file/d/1F9kAJ-b0yifA8a1PBIulKUN8A3l2XHY7/view?usp=sharing"/>

</body>
</html> -->
